*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.dictionary_bigdiv{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:olive;
}
.dictionary_div{
  width: 500px;
  max-width: 100%;
  border-radius: 10px;
  padding: 0px 30px 30px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dictionary_div h1{
  padding: 20px 0px;
}
.dictionary_div form{
  border: 1px solid rgba(153, 152, 152, 0.37);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}
.dictionary_div form input{
  outline: none;
  border: none;

}
.dictionary_results{
  border-left: 3px solid olive;
  width: 100%;

  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.dictionary_results button{
  border: 1px solid olive;
  padding: 5px 10px;
  background-color: olive;
  color: white;
  border-radius: 10px;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  transition: 0.5s;
}
.dictionary_results button:hover{
  background-color: white;
  color: black;
}
.dictionary_results span{
  font-size: 14px;
  color: gray;
}
.span{
  padding: 10px 0px;
  color: gray;
}